<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>frontend_B</title>
        <!-- Load Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <!-- HTML-->
        <div class = "container">
            <div class ="addForm">
                <input type="text" v-model="newItem"/>
                <button class ="addItem" @click="addItem">追加</button>
            </div>
            <ul>
                <!-- リストを追加 -->
                <li v-for="(item, index) in items" :key="index">
                    <button @click="removeItem(index)">X</button>
                    <p>{{ item }}</p>
                </li>
            </ul>
        </div>
        <!-- JavaScript -->
        <script src="script.js"></script>
    </body>
</html>
